body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.clipboard-button {
  display: none;
}

.clipboard-button--supported, .clipboard-button {
  display: initial;
}

.slide {
  text-align: center;
  font-size: 10rem;
  font-weight: 900;
}